:root {
    --BLACK: #000000;
    --WHITE: #ffffff;
    --BLUE: #0000ff;
    --GRAY: #808080;
    --RED: #ff0000;
}

/*
    'Roboto'
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

.body {
    margin: 0;
}

/* Header section */

.header-container {
    background-color: var(--BLACK);    
}

.header-nav {

}

.header-logo {
    font-family: 'Roboto', sans-serif;
    color: var(--WHITE);
    text-decoration: none;
    margin-left: 50%;
}

.header-logo-span {
    font-family: 'Roboto', sans-serif; 
    color: var(--GRAY);
    text-decoration: none;
}

.header-list {

}

.header-item {

}

.header-block {

}

.header-item-logo {
    text-decoration: none;
    
}

.header-text {
    color:#0000ff;
    text-decoration: none;
}

.header-block-text {
    color: var(--WHITE);
    text-decoration: none;
    font-family: 'Noto Serif', serif;
}

.header-block-text:hover {
    color:var(--RED);
}